/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint/bin
/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint/obj
/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint.Android/bin
/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint.Android/obj
/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint.iOS/obj
/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint.iOS/bin
/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint.UWP/bin
/XamarinFingerprint/XamarinFingerprint/XamarinFingerprint.UWP/obj
/XamarinFingerprint/packages
/XamarinFingerprint/.vs/XamarinFingerprint/v15/Server/sqlite3/db.lock
